<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
        <h1 class="title">
          CDDA幸存者基地
        </h1>
      <h4 class="subtitle" id="quote">
      </h4>
    </div>
  </div>
</section>

<div class="main-container">
  <div class="tile is-ancestor is-vertical">


    <nav class="nav has-shadow">

      <div class="nav-left">

        <a href="../" class="nav-item">
          <span class="icon">
            <i class="fa fa-home" aria-hidden="true" title="Homepage"></i>
          </span>
        </a>

        <a href="https://github.com/cdda-base" class="nav-item">
          <span class="icon">
            <i class="fa fa-github" aria-hidden="true" title="Github"></i>
          </span>
        </a>

        

      </div>

      <!--<span class="nav-toggle" id="nav-toggle">
          <span></span>
          <span></span>
          <span></span>-->
    </nav>

    <div class="tile is-parent">
      <div class="tile is-8 is-child main">

        {{ content }}

      </div>

      <div class="tile is-4 is-child">
        <div class="tile is-parent is-vertical sidebar">

          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  板块列表
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <ul>
                  {% for post in site.posts limit:3 %}
                  <li><a href="../{{ post.link }}">
                    {{ post.title }}
                  </a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="tile is-child widget">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  CDDA各大网站链接
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <ul>
                    <li>
                      <a href="https://cataclysmdda.org/">CDDA官网</a>
                    </li>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div>

      {% include busuanzi.html %}

    </div>
	<p>想参与网站维护加Q群：<a href="//shang.qq.com/wpa/qunwpa?idkey=cafb68543cf8d6fe65e9e12e253d49239a6653f951b9d92d5fcfde47413172bb">1017727349</a>，欢迎各位大佬的到来。</p>
	<p>我们招收新版测试者，Mod测试者，Mod作者，网页维护大佬，翻译人员</p>
      <p>
        <a class="icon" href="https://github.com/cdda-base">
          <i class="fa fa-github" title="Github"></i>
        </a>
        </a>
        <a class="icon" href="mailto:cddamods@outlook.com">
          <i class="fa fa-envelope" title="Email"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

<!-- js -->
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
<script src="{{ site.baseurl }}/assets/js/typewriter.js"></script>
</body>
</html>
